{% extends "myapp/base.html" %}
{%load static%}


{% block title %}
    Pawprints
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/land.css' %}">
{%endblock%}
{%block content%}
  <body>
    <div class="main-container">
        <div class="flex-row-ee">
          <span class="paw-prints">PawPrints</span>
          <a href="https://paws.org.ph/campaigns/">
            <span class="advocate">Advocate</span>
          </a>
          <a href="https://paws.org.ph/volunteer/">
            <span class="volunteer">Volunteer</span>
          </a>
          <a href="https://paws.org.ph/donate/">
            <span class="donate">Donate</span>
          </a>
        </div>
        <span class="make-a-difference-with-pawprints"
          >Make A Difference with <br />PawPrints</span
        ><span class="passionate-about-reuniting"
          >At PawPrints, we're passionate about reuniting lost pets with their
          owners and celebrating heartwarming stories of reunion. Our platform is
          dedicated to creating a community of pet lovers who come together to
          support each other in times of need.</span
        >
        <div class="flex-row-b">
          <span class="join-our-community">Join our Community</span
          ><span class="animal-support-network"
            >Welcome to our community dedicated to making a difference in the
            lives of animals in the Philippines. By joining us, you become part of
            a compassionate network of individuals who share a common goal: to
            create a better world for animals in need.</span
          >
        </div>
        <button class="rectangle">
            <a href="{% url 'mylogin' %}">
                <span class="join-now">JOIN NOW -></span>
            </a>
        </button>
      </div>
  
  </body>
{%endblock%}
