{% extends "myapp/base.html" %}
{%load static%}


{% block title %}
    Pawprints
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/wset.css' %}">
{%endblock%}
{%block content%}
  <body>
    <div class="main-container">
      <div class="rectangle"><span class="paws-print">PawsPrint</span></div>
      <div class="flex-row-e">
        <div class="rectangle-1">
          <button class="report-case">
            <a href="{%url 'cases' %}">
              <span class="rectangle-2">Report Case</span>
              <div class="plus"></div>
            </a>
          </button>
          <div class="grid"></div>
          <a href="{%url 'dashboard' %}">
            <span class="dashboard">Dashboard</span>
          </a>
          
          <div class="search"></div>
          <a href="{% url 'lostpets'%}">
            <span class="lost-pets">Lost Pets</span>
          </a>
          <div class="paw"></div>
          <a href="{%url 'adoption' %}">
            <span class="adoption">Adoption</span>
          </a>
          <div class="calendar"></div>
          <a href="{%url 'events' %}">
            <span class="events">Events</span>
          </a>
          <div class="user"></div>
          <a href="{%url 'profile' %}">
            <span class="profile">Profile</span>
          </a>
          <div class="settings"></div>
          <a href="{%url 'wset' %}">
            <span class="settings-4">Settings</span>
          </a>
          <div class="help"></div>
          <a href="{%url 'about' %}">
            <span class="help-5">About</span>
          </a>
          <span class="terms-and-conditions">Terms and Conditions</span>
          <div class="terms-and-conditions-6"></div>
          <div class="logout"></div>
          <a href="{%url 'land' %}">
            <span class="logout-7">Logout</span>
          </a>
        </div>
        <span class="settings-6">SETTINGS</span
            ><span class="my-settings">My settings</span>
            <div class="rectangle-7"></div>
            <span class="appearance">Appearance</span
            ><span class="light-arrow">Light ></span
            ><span class="customize-device"
              >Customize how Notion looks on your device.</span
            ><span class="date-time">Date & time</span>
            <div class="rectangle-8"></div>
            <span class="appearance-9">Appearance</span
            ><span class="on-arrow">ON></span
            ><span class="set-timezone"
              >Set timezone automatically using your location</span
            ><span class="time-zone">Time Zone</span
            ><span class="gmt-asia-manila">(GMT+08:00) Asia/Manila (GMT+8)</span
            ><span class="current-time-zone">Current time zone setting.</span
            ><span class="my-notifications">My notifications</span>
            <div class="rectangle-a"></div>
            <span class="mobile-push-notifications">Mobile push notifications</span
            ><span class="on">ON></span
            ><span class="receive-push-mobile"
              >Receive push notifications on mentions and comments via your mobile
              app</span
            ><span class="desktop-push-notifications">Desktop push notifications</span
            ><span class="on-b">ON></span
            ><span class="receive-push-desktop"
              >Receive push notifications on mentions and comments immediately on your
              desktop app</span
            ><span class="email-notifications">Email notifications</span
            ><span class="on-active">ON></span
            ><span class="receive-emails"
              >Receive emails about new alerts, even when you're active on the
              app</span
            ><span class="language">Language</span>
            <div class="rectangle-c"></div>
            <span class="language-d">Language</span
            ><span class="english-usa">English USA ></span
            ><span class="change-language"
              >Change the language used in the user interface.</span
            ><button class="rectangle-e"></button
            ><span class="save-changes">SAVE CHANGES</span>
          </div>
       

  </body>
{%endblock%}
