{% extends "myapp/base.html" %}
{%load static%}


{% block title %}
    Pawprints
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/cases.css' %}">
{% endblock %}
{% block content%}
  <body>
    <div class="main-container">
      <div class="rectangle"><span class="paws-print">PawsPrint</span></div>
      <div class="flex-row-e">
        <div class="rectangle-1">
          <button class="report-case">
            <a href="{%url 'cases' %}">
              <span class="rectangle-2">Report Case</span>
              <div class="plus"></div>
            </a>
          </button>
          <div class="grid"></div>
          <a href="{%url 'dashboard' %}">
            <span class="dashboard">Dashboard</span>
          </a>
          <div class="search"></div>
          <a href="{% url 'lostpets'%}">
            <span class="lost-pets">Lost Pets</span>
          </a>
          <div class="paw"></div>
          <a href="{%url 'adoption' %}">
            <span class="adoption">Adoption</span>
          </a>
          <div class="calendar"></div>
          <a href="{%url 'events' %}">
            <span class="events">Events</span>
          </a>
          <div class="user"></div>
          <a href="{%url 'profile' %}">
            <span class="profile">Profile</span>
          </a>
          <div class="settings"></div>
          <a href="{%url 'wset' %}">
            <span class="settings-4">Settings</span>
          </a>
          <div class="help"></div>
          <a href="{%url 'about' %}">
            <span class="help-5">About</span>
          </a>
          <span class="terms-and-conditions">Terms and Conditions</span>
          <div class="terms-and-conditions-6"></div>
          <div class="logout"></div>
          <a href="{%url 'land' %}">
            <span class="logout-7">Logout</span>
          </a>
        </div>

        <form method="post" action="/cases" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" id="file-upload" name="image" size="" accept="image/*" onchange="previewImage(event)" required>
          <label for="file-upload" class="file">Choose Image</label>
          <input type="hidden" name="report_type" id="report_type">
          <span class="report-case-4">REPORT CASE</span>
          <div class="rectangle-5">
            <div class="flex-row-a">
                <img id="image-preview" src="#" alt="" class="rectangle-6">
                <span class="animal-information">Animal Information:</span>
                <input type="text" name="name" class="rectangle-7" placeholder=" Name" required>
                <select name="has_collartags" class="rectangle-8" required>
                  <option value="" selected disabled>Has Collartags?</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                <select name="gender" class="rectangle-9" required>
                  <option value="" selected disabled>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
                <select name="color" class="rectangle-a" required>
                  <option value="" selected disabled>Color</option>
                  <option value="Brown">Brown</option>
                  <option value="White">White</option>
                  <option value="Black">Black</option>
                  <option value="Grey">Grey</option>
                  <option value="Orange">Orange</option>
                  <option value="BlackWhite">Black White</option>
                  <option value="BrownWhite">Brown White</option>
                  <option value="WhiteOrange">White Orange</option>
                  <option value="WhiteGrey">White Grey</option>
                  <option value="BlackGrey">Black Grey</option>
              </select>
              <select name="animal_type" class="rectangle-b" required>
                <option value="" selected disabled>Animal Type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Bird">Bird</option>
              </select>
                <input type="text" name="breed" class="rectangle-c" placeholder="Breed">
              <select type="text" name="size" class="rectangle-d" required>
                <option value="" selected disabled>Size</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
                <option value="Big">Big</option>
              </select>
                <input type="date" name="date" class="rectangle-e" placeholder="Date">
                <input type="text" name="behavior" class="rectangle-f" placeholder="Behavorial Tendencies">
                <input type="text" name="last_seen_location" class="rectangle-10" placeholder="Last Seen Location">
            </div>
            
            <span class="reporters-information">Reporter’s Information:</span>
            <div class="flex-row-ac">
              <input type="text" name="reporter_name" class="rectangle-11" placeholder="Full name" required>
              <input type="text" name="address" class="rectangle-12" placeholder="Address" required>
              <input type="text" class="rectangle-13" name="description" placeholder="Animal description">
              <input type="email" name="email" class="rectangle-14" placeholder="Email" required>
              <input type="text" name="facebook" class="rectangle-15" placeholder="Facebook">
              <input type="text" name="instagram" class="rectangle-16" placeholder="Instagram">
            </div>

            <div class="flex-row-c">
              <input type="text" class="rectangle-17" name="post_caption" placeholder="Post Caption">
              <input type="text" name="phone_no" class="rectangle-18" placeholder="Phone No.">
              <input type="text" name="recent_events" class="rectangle-19" placeholder="Recent Events">
            </div>
            <div class="flex-row-cbb">
              <button class="button-1a" name="report_type" value="LOST">
                <span class="post-lost">POST LOST</span></button
              ><button class="button-1b" name="report_type" value="FOUND">
                <span class="post-found">POST FOUND</span></button
              ><button class="button-1c" name="report_type" value="ADOPT">
                <span class="post-adopt">POST ADOPT</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
      function previewImage(event) {
          var input = event.target;
          var reader = new FileReader();
          reader.onload = function(){
              var dataURL = reader.result;
              var img = document.getElementById('image-preview');
              img.src = dataURL;
              img.style.display = 'block';
          };
          reader.readAsDataURL(input.files[0]);
      }

    </script>

  </body>
{% endblock %}
